<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户信息列表</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" href="../static/css/index.css"/>
    <script type="text/javascript" th:src="@{/jquery/jquery-3.2.1.js}" src="../static/jquery/jquery-3.2.1.js"></script>
</head>
<body>
    <h1>用户信息列表</h1>
    <hr>
    <table>
        <tr>
            <th>用户ID</th>
            <th>用户名</th>
            <th>密码</th>
            <th>性别</th>
            <th>年龄</th>
            <th>邮箱</th>
            <th>操作</th>
        </tr>
        <tr th:each="u:${userList}">
            <td th:text="${u.userId}"></td>
            <td th:text="${u.userName}"></td>
            <td th:text="${u.password}"></td>
            <td th:text="${u.sex}"></td>
            <td th:text="${u.age}"></td>
            <td th:text="${u.email}"></td>
            <td>
                <input type="button" value="修改"/>
                <input type="button" value="删除"/>
            </td>
        </tr>
    </table>
</body>
</html>